
:root {
  --primary-color: #ff6ec7;
  --secondary-color: #00f6ff;
  --accent-color: #fffb00;
  --background-color: #1d1d1d;
  --text-color: #dd76c3;
  --card-background: #282828;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/Images/Synth.jpg');
  background-size: cover;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--card-background);
  box-shadow: 0 0 10px var(--primary-color);
}

header, section {
  margin-bottom: 20px;
  background-color: var(--card-background);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px var(--secondary-color);
  font-family: 'Orbitron', sans-serif;
}

.button-39 {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 2px solid var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  font-family: 'Orbitron', sans-serif;
}

#cycleThemes {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, border-color 0.3s;
  font-family: 'Orbitron', sans-serif;
  z-index: 1000;
}

#cycleThemes:hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.button-39:hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--accent-color);
}

/* Select Dropdown */
select.button-39 {
  background-color: var(--card-background);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  font-family: 'Orbitron', sans-serif;
}

select.button-39:hover {
  border-color: var(--secondary-color);
  background-color: var(--card-background);
  box-shadow: 0 0 10px var(--primary-color);
}

#PlayerStat, #FightStatus, #ActivityStatus {
  padding: 20px;
  background-color: var(--card-background);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  box-shadow: 0 0 10px var(--primary-color);
  font-family: 'Orbitron', sans-serif;
}

select.button-39:focus,
button.button-39:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
  font-family: 'Orbitron', sans-serif;
}

.enemies-selection {
  background-color: var(--card-background);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px var(--primary-color);
  font-family: 'Orbitron', sans-serif;
}

#dev-panel {
  position: fixed;
  font-family: 'Orbitron', sans-serif;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--card-background);
  padding: 20px;
  border-left: 2px solid var(--primary-color);
  box-shadow: -3px 0 10px var(--primary-color);
  border-radius: 10px 0 0 10px;
}

#dev-panel button {
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#dev-panel button:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px var(--accent-color);
}

.shop {
  font-family: 'Orbitron', sans-serif;
  margin-top: 15px;
  padding: 20px;
  background-color: var(--card-background);
  color: var(--text-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.shop h3 {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
  text-shadow: 0 0 5px var(--secondary-color);
}

.shop #shop-items {
  list-style: none;
  margin-bottom: 20px;
  background-color: var(--card-background);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.shop #shop-items li {
  margin-bottom: 10px;
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--card-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px var(--primary-color);
}

.shop #shop-items .buy-button {
  padding: 10px 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-weight: bold;
}

.shop #shop-items .buy-button:hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 10px var(--accent-color);
}
